@import "tailwindcss";

:root {
  --background: #9c4545;  /* Beispiel: Dark */
  --foreground: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #784242;
    --foreground: #ffffff;
  }
}

/* Basis-Body bleibt wie bei dir */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Responsive: smaller labels on mobile devices */
@media (max-width: 420px) {
  :root {
    --row-label-w: 160px;
  }
}

@layer base {
    :root{
        --color-black: #000000;
        --color-white: #ffffff;
    }
    h1 {
        font-size: var(--text-3xl);
        padding-left: 4px;
        color: var(--color-slate-400);
    }
}