@import "tailwindcss";

:root {
  --background: #181818;  /* Beispiel: Dark */
  --foreground: #fdfdfd;
  --button_top: #db7ed996;
  --button_top_hover: #db7ed9bb;
  --button_standard: #d18a78cf;
  --button_standard_hover: #d79483dd;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #181818;
    --foreground: #ffffff;

  }
}

/* Basis-Body bleibt wie bei dir */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Responsive: smaller labels on mobile devices */
@media (max-width: 420px) {
  :root {
    --row-label-w: 160px;
  }
}

@layer base {
    :root{
        --color-black: #000000;
        --color-white: #ffffff;
    }
    h1 {
        font-size: var(--text-3xl);
        padding-left: 4px;
        color: var(--color-white);
    }
}